$greybackground: rgba(210, 208, 208, 0.363);
$red: rgb(196, 52, 52);
$greyborder : rgba(160, 158, 158, 0.363);
$border: 5px solid $greybackground;

.sign-up_container{
    display:flex;
    flex-direction: column;
    width:40%;
    height:90%;
    margin: 20px 0;
    padding:20px;

    form {
        width:100%;
        height: 100%;
        display:flex;
        flex-direction: column;
        border-radius: 25px;
        font-size: 23px;
        border: 2px solid $greyborder;
        background-color: white;
        box-shadow: -1px 3px 13px 5px $greyborder;
        justify-content: space-evenly;
        padding: 20px;

        .input_container{
            display:flex;
            flex-direction: column;

            .box{
                display:flex;
                width:100%;

                .name_container{
                    width:50%;

                    input{
                        width:90%;
                    }
                }
            }

            .adress_container{
                display:flex;
                
                .zip_container{
                    width: 40%;

                }

                .town_container{
                    width:50%;
                }
                #town {
                    width:100%;
                }

                #zip {
                    width:60%;
                }
            }

            label, legend {
                padding-left: 20px;
                border: none;
            }
            
                .gender_container {
                    display:flex;
                    flex-direction: row;


                    label{
                        display:flex;
                        font-size: 20px;
                    }

                    input[type="radio"]{
                        width:20px;
                        height:30px;
                        margin-left: 0;
                        accent-color: black;
                        
                    }

                    display:flex;
                    width: 70px;
                    height:40px;
                    gap:10px;

            }         

            hr{
                margin-left: 20px;
                border-radius: 7px 25px 0 0;
                border-top: $border;
                border-right: $border;
                border-left: $border;
            }
            #lastname_hr[aria-hidden="true"]{
                width:8%;
            }

            #firstname_hr[aria-hidden="true"]{
                width:12%;}

            #birthday_hr[aria-hidden="true"]{
                width:28%;
            }
            
            #gender_hr[aria-hidden="true"]{
                width:10%;
            }

            #adress_hr[aria-hidden="true"]{
                width:11%;
            }

            #zip_hr[aria-hidden="true"]{
                width:43%;
            }

            #town_hr[aria-hidden="true"]{
                width:12%;
            }
            #phonenumber_hr[aria-hidden="true"]{
                width:32%;
            }

            #email_hr[aria-hidden="true"]{
                width:9%;
            }

            #password_hr[aria-hidden="true"]{
                width:21%;
            }

            input {
                margin-left: 20px;
                display:flex;
                width:60%;
                height:40px;
                border-radius:  0 7px 7px 7px;
                background-color: #fffafa;
                outline: none;
                border: 1px solid $greyborder;    
                font-size: 20px;
                font-weight: 700;
            }

            .email_password{
                display:flex;
                width:100%;

                .email{
                    width:50%;

                    input{
                        width:90%
                    }
                }

                .password{
                    width:50%;

                    input{
                        width:90%
                    }
                }
            }
        }
              
        .button_container {
            display:flex;
            flex-direction: column;
            width:100%;
            height:15%;
            align-items: center;
            justify-content: center;

            button{
                border-radius: 10px;
                width:30%;
                font-size: 18px; 
                margin: 20px 0 10px 0;   
            }

            #sign_up {
                border: 1px solid $greyborder;
                background-color: $red;
                color:white;
                font-weight: 600;
                text-shadow: 1px 1px  #000000;
                box-shadow: 1px 3px 3px 1px $greyborder;
                height:50px;

                &:hover {
                    background-color: #fffafa;
                    border: 2px solid $red;
                    color:$red;
                    text-shadow:none;

                }
      
            }

            a{
                font-size: 16px;
                color:black;

            }
        }
    }
}


@media (max-width: 1550px) {
    .sign-up_container{
        width:60%;

    }
  .name {
    width:100%;
    display:flex;
    flex-direction: row;

    div{
        width:50%;
    }
  }

  .birthday_gender{
    display:flex;
    flex-direction: row;

    div{
        width:50%;
    }
  }

  button{
    margin:20px 0;
  }

}


.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(123, 123, 123, 0.13);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.modal {
  background: #fffafa;
  padding: 20px 30px;
  border-radius: 8px;
  width: 320px;
  text-align: center;
}

.modal-btns {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

button.confirm {
  background: #d9534f;
  color: white;
  padding:15px;
  border-radius: 10px;
  border:1px solid #d9534f;

}

.error{
    color:red;
    font-size: 16px;
}
