/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
}

header {
  position: sticky;
  height: 12vh;
  z-index: 2;
}

main {
  position: relative; 
  height: 88vh;
}

app-patient-list {
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  gap:10px;
}

app-patient-page {
    width:98%;
    height:95%;
    display:flex;
    align-self: center;
}

app-sign-in,
app-sign-up {
  width:100%;
  height:100%;
  display:flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
